main {
    font: 1em sans-serif;
    margin: 0 auto;
}

h1 {
    font: 2em sans-serif;
    color: white;
    margin: 0;
}

h2 {
    color: red;
    background: yellow;
}

.link:hover{
    color: red;
}

.link:visited{
    color: red;
}

.img-fluid  {
    width: 100%;
    height: auto;
}