main {
    background-color: brown;
    font: 1em sans-serif;
    margin: 0 auto;
}

h1 {
    font: 2em sans-serif;
    color: white;
    margin: 0;
}

.link:hover{
    color: red;
}

.link:visited{
    color: red;
}

img {
    width: 60%;
    border: 100px solid black;
}